{% extends "base.html.twig" %}
{% block body %}

  {% include 'main/carousel.html.twig' %}
<main id="main">

  {% include 'main/contactus.html.twig' %}

  {% include 'main/constructions.html.twig' %}

  {% include 'main/services.html.twig' %}

  {% include 'main/features.html.twig' %}

  {% include 'main/projects.html.twig' %}

  {% include 'main/feedback.html.twig' %}

  {% include 'main/blog.html.twig' %}

</main>
{% endblock body %}

